<div class="text-center border ml-2  p-4 agent-details">
  <%= profile_picture(@agent, 'rounded-profile', 200)%>
  <h3><%= @agent.full_name %></h3>
  <h5><%= @agent.company%></h5>

  <button class="btn btn-info btn-block mb-3" id="show-tel" data-telephone="<%= @agent.telephone %>"> <i class="fas fa-phone mr-2"></i> <span>Call</span></button>
  <div class="row">
    <div class="col-6 pr-0">
      <%= link_to "Profile", profile_path(current_account), class: 'btn btn-secondary btn-block'%>
    </div>
    <div class="col-6">
      <button class="btn btn-success btn-block pl-0" data-toggle="modal" data-target="#contact-modal">Email</button>
    </div>
  </div>
 
</div>