<%= form_with(model: property, local: true) do |form| %>
  <%= render 'layouts/validation', item: property%>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price, "(Total Price (for sale) / Monthly Price (rental)" %>
    <%= form.number_field :price, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :room %>
    <%= form.number_field :room, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, rows: 10, class:'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :parking_spaces %>
    <%= form.number_field :parking_spaces, class:'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :for_sale %>
    <%= form.select :for_sale, options_for_select({ "Yes" => true, "No" => false}, @property.for_sale), class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :photo, class: 'd-block' %>
    <%= form.file_field :photo, direct_upload: true, class: 'btn-primary btn-block mb-3 '%>
    <%= property_photo property%>
  </div>

  <div class="form-group">
    <%= form.submit "Save Property", class: "btn btn-success" %>
  </div>
<% end %>
