 <div class='property-cover-photo'>
    <%= property_cover_photo @property%>
</div>
<div class="container property-show ">
  
  <p id="noti ce"><%= notice %></p>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0 h5 font-weight-bold"><%= @property.for_sale ? "For Sale" : "For Rent" %></p>
          <p class="mb-2"><%= @property.address %></p>
          <p class="h2">
            <% if @property.for_sale %>
              <%= @property.price.positive? ? number_to_currency(@property.price, precision: 0) : "Offers Accepted" %>
            <% else %>
              <%= @property.price.positive? ? number_to_currency(@property.price, precision: 0) : "Open for enquiries" %>
            <% end %>
          </p>
        </div>
        <div class="col-md-6 text-center text-white">
            <div class="row bg-secondary p-3  mr-3 ">
              <div class="col-md-4">
                <i class="fas fa-bed"></i>
                <p class='mb-0'><strong>Rooms</strong></p>
                <span class="lead"><%= @property.room%></span>
              </div>
              <div class="col-md-4">
                <i class="fas fa-bath"></i>
                <p class='mb-0'><strong>Bathrooms</strong></p>
                <span class="lead"><%= @property.bathrooms%></span>
              </div>
              <div class="col-md-4">
                <i class="fas fa-car"></i>
                <p class='mb-0'><strong>Parking</strong></p>
                <span class="lead"><%= @property.parking_spaces%></span>
              </div>
            </div>
        </div>
      </div>
      <div class="row border-bottom border-top mt-5 mb-4 p-3">
        <div class="col-md-6">
          <% if @property.for_sale %>
            <strong>  
              <%= link_to "Est. Monthly Repayments of #{number_to_currency((@property.price - @property.price * 0.1) / 360, :precision => 0)}", "#", class: 'text-success'%>
            </strong>
          <% else %>
              <strong>Available from <%= @property.available_date.strftime("%a") %>, <%= @property.available_date.day.ordinalize %> <%= @property.available_date.strftime("%B") %></strong>
          <% end %>
        </div>
        <div class="col-md-6">
          <strong> <%= link_to "Can I afford this?", "#", class: 'text-success'%></strong> 
        
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <p class="h3"><%= @property.name %></p>
          <p class="h5">Property Description</p>
          <div id="property-details">
            <%= simple_format @property.details %>
          </div>  
          <button class="btn btn-outline-info mt-3 btn-toggle-details">Show more</button>

          <p class="mt-5">This rate is based on a 30 year mortgage, after paying initial 10% down payment. Shorter mortgage would requite a higher monthly repayment</p>
          <p>
            <strong>Address:</strong>
            <%= @property.address %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @property.price %>
          </p>

          <p>
            <strong>Room:</strong>
            <%= @property.room %>
          </p>

          <p>
            <strong>Bathrooms:</strong>
            <%= @property.bathrooms %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'properties/agent_details'%>
      <iframe
        width="320"
        height="240"
        class="mt-3 col-md-12"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBhl2iaIMeLOCvJsaN9m1cZw0RKdJZXSEw
          &q=<%= @property.address %>" allowfullscreen>
      </iframe>
    </div>
 
  </div>
</div>

<section id="latest-properties" class="mt-5 mb-5">
  <div class="container ">
    <div class="row">
        <% if @agent_properties.count.positive? %>
          <div class="col-12">
              <p class="h2 my-4">Other properties by this agent</p>
          </div>
          <%= render 'properties/list', properties: @agent_properties%>
        <% end %>
    </div>
  </div>
</section>

<%= render 'properties/send_email_modal' %>