<p>Hi <%= @agent.first_name %>,</p>

<p>You have a new message from Guesthouse Finder.</p>

<p>First name: <%= @first_name %></p>
Last name: <%= @last_name %><br>
Email: <%= @email %>><br>
First name: <%= @first_name %><br>

<%= @message %>