<!DOCTYPE html>
<html>
  <head>
    <title>BootsrapFailed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
    <% if ["public","devise", "sessions"].include?(controller.controller_name) %>
      <header>
        <%= render 'layouts/nav/public'%>
        <%= yield %>
      </header>
    <% else %>
          <%= render 'layouts/nav/dashboard'%>
        <div class="container-fluid mx-0">
          <div class="row mx-0 px-0">
            <%= render 'layouts/nav/sidebar'%>
            <main class="col-md-9 mx-auto col-lg-10 px-0 mt-4">
              <%= yield %>
            </main>
          </div>
        </div>
    <% end %>
    <div id="notifications"><%= notice %></div>
    <%= render 'layouts/footer'%>
  </body>
</html>
